<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>local.blockmail.unblock</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/unblockmail</string>
		</array>
		<key>StartCalendarInterval</key>
		<array>
			<!-- Unblock at 12pm -->
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>5</integer>
			</dict>
			<!-- Unblock at 5pm -->
			<dict>
				<key>Hour</key>
				<integer>17</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>17</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>17</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>17</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>17</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>5</integer>
			</dict>
		</array>
		<!--
		<key>StandardErrorPath</key>
		<string>/Users/simon/unblockmail.log</string>
		<key>StandardOutPath</key>
		<string>/Users/simon/unblockmail.log</string>
		-->
	</dict>	
</plist>